@model OrchardCore.Elsa.Controllers.WorkflowDefinitions.Create.CreateViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Workflow Definition"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    <ul class="nav nav-tabs">
        <li class="nav-item pe-md-2">
            <a class="nav-link active" id="properties-tab" data-bs-toggle="tab" href="#properties" role="tab" aria-controls="site" aria-selected="true">@T["Properties"]</a>
        </li>
    </ul>

    <div class="tab-content" id="tabs">
        <div class="tab-pane fade show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
            <div class="mb-3" asp-validation-class-for="Name">
                <label asp-for="Name" class="form-label">@T["Name"]</label>
                <input asp-for="Name" class="form-control" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="hint">@T["The name of the workflow."]</div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        <a class="btn btn-secondary cancel" role="button" href="@Url.Action("List")">@T["Cancel"]</a>
    </div>
</form>
